body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-container{
    background-color: rgb(0, 0, 0);
    margin: 0.1px 0px;
    padding: 0px 0px;
    font-size: 13px;
    font-weight: bold;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
} 

.mainLogo:hover{
    fill:red
}

.gameInformer-container{
    display: none;
    background-color: #2b2a29;
    color: #f9f9f9;
    position: absolute;
    list-style-type: none;
    border-top: 5px solid red;
    border-radius: 3px;
    margin: -8px 0px 0px 0px;
    padding: 15px 15px;
    width: 150px;
}

.gameInformer-Li{
    background-color: #2b2a29;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 8px 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown:hover .gameInformer-container{
    display: block;
}


.gameInformer-Li:hover{
    background-color: #4e4b48;
}

.bgchange{
    background-color: black;
    border-radius: 5px;
    padding: 8px 10px;
}
.bgchange:hover{
    background-color: #4e4b48;
}



.underline{

    display: none;
    position: absolute;
    list-style-type: none;
    border-top: 5px solid red;
    border-radius: 3px;
    margin: -8px 0px 0px 0px;
    padding: 15px 15px;
}
.underline-container:hover .underline{
    display: block;
}

#search-box{
    
}

.language-container{
    border: 2px solid rgb(255, 255, 255);
    height: 335px;
    width: 170px;
    overflow-y: auto; 
    background-color: #fbf9f8;
    color: #958e8e;
    position: absolute;
    list-style-type: none;
    border-radius: 3px;
    margin: 3px 0px 0px -100px;
    padding: 1px 20px; 
    display: none;    
}

.language-Li{
    margin: 2px 8px;
    padding: 8px 8px;
}
.language-Li:hover{
    color: #2b2a29;
}

.dropdownLanguage {
    position: relative;
    display: inline-block;
  }

.dropdownLanguage:hover .language-container{
    display: block;
}
